/* and */
/*fonts styling */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*background, padding */
* {
  margin:0;
  padding:0;
  }

body {
  height: 100%;
  background-color: #f4f5f6;
  margin-left: 2vw;
  margin-top: 5vh;
}
@media (max-width: 999px) {
  body {
    width: 90vw;
  }
  
  .sidenote, .sidenote-main .figure-content{
    display: none;
  }

  figcaption, .hidden-image {
    visibility: hidden;
  }

}
@media (min-width: 1000px) {
  body {
    width: 45vw;
  }
  html {
    font-size: 1rem;
  }
  .sidenote {
    font-size: 80%;
    position: relative;
    float: right;
    clear: right;
    margin-right: -32vw;
    text-align: left;
    width: 30vw;
    margin-top: -0.1rem;
    margin-bottom: 1rem;
  }

  .figure-content {
    font-size: 80%;
    position: relative;
    float: right;
    clear: right;
    margin-right: -32vw;
    text-align: left;
    width: 30vw;
    margin-top: -0.1rem;
    margin-bottom: 1rem;

  }

  .sidenote-main {
    font-size: 80%;
    position: relative;
    float: right;
    clear: right;
    margin-right: -32vw;
    text-align: left;
    width: 30vw;
    margin-top: -0.1rem;
    margin-bottom: 1rem;
  }
}

/*fonts etc. */
html {
    vertical-align: top;
    color: #333333;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    height: 100%;
}

h1, h2, h3, h4 {
  margin-left: 40px;
  font-size: x-large;
  line-height: 1.2;
  font-weight: 600;
  text-align: left;
  padding-bottom: 2vh;
  }
  
p, li, ul, u {
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

sup {
  font-size: 0.6rem;
}
ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.header {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 3vh;
  margin-top: 0px;
  text-align: left;
  color: #1f2022;
}
/*link styling */
a {
  color: #333333;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color:#F07167;
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* Content Styles */
.grid-wrapper {
  display: grid;
  grid-template-columns: 2vw 28vw 10vw;
  grid-gap: 5vw;
}

.header-gap{
  border-bottom: 2px solid black;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

hr{
  border: 1.5px solid black;
  margin-top: 3vh;
  margin-left: 40px;
  margin-bottom: 2vh;
}

.introduction {
  color: black;
  padding-left: 40px;
  font-size: 150%;
  padding-top: 0vh;
  padding-bottom: 2vh;
}

.section-title{
  color: black;
  font-size:small;
  font-weight: bold;
  font-family:'Inter', Arial, Helvetica, sans-serif;
  padding-bottom: 1vh;
}
.title-year{
  display:block;
  width:40px;
  color: black;
  text-align: right;
  font-size:70%;
  padding-top:0vh;
  padding-bottom: 0vh;
  font-family:'Inter', Arial, Helvetica, sans-serif;
}
.title-type-hidden{
  color: #5D5D5D;
  padding-left: 40px;
  text-align: left;
  font-size:small;
  padding-top:1vh;
  font-family:'Inter', Arial, Helvetica, sans-serif;
}
.title-type{
  padding-left: 40px;
  font-size:small;
  font-weight:500;
  padding-top:1vh;
  font-family:'Inter', Arial, Helvetica, sans-serif;
}
.title-content{
  padding-left: 40px;
  color: black;
  font-size:small;
  font-family:'Inter', Arial, Helvetica, sans-serif;
  padding-bottom: 0.5vh;
  padding-top: 1vh;
}
.ppub{
  font-weight: bold;
  padding-left:40px;
}

.ptext{
  padding-left: 40px;
  font-size: 100%;
}

.ppub-main{
  font-weight: 500;
  padding-left: 40px;
}

.project-numbering{
  font-size: 80%;
}
.title-symbol{
  color: black;
  font-size:small;
  font-weight: normal;
  font-family:'Inter', Arial, Helvetica, sans-serif;
}
.plussign{
  font-family: 'Inter', Helvetica, sans-serif;
  color:#F07167;
  font-weight: bold;
}

.bigplussign{
  font-family: 'Inter', Helvetica, sans-serif;
  font-size:200%;
  font-weight: bold;
  color:#F07167;
}

.housing{
  font-family: "DM Serif Display", serif;
}


.pcite{
  font-size: 90%;
  color:#5D5D5D;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.pcite > a {
  color: #5D5D5D;
}

.pcite > span {
  text-decoration: none;
}

b {
  font-weight: 600;
}

.pcite-main{
  font-size: 110%;
  padding-left: 40px;
  color:black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.pcite-hidden{
  font-size: 110%;
  padding-left: 0;
  padding-left: 40px;
  color:#5D5D5D;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.pcite-main > a {
  color: black;
}

.pcite-main > span,
.pcite-hidden > span {
  text-decoration: none;
}

.pcite-main > .underline-link,
.pcite-hidden > .underline-link {
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color:#F07167;
}

.pcite-indented{
  font-size: 90%;
  padding-top: 0.5vh;
  color:#5D5D5D;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding-left: 40px;
}
.pdesc{
  color:#5D5D5D;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.ppage{
  font-size: 90%;
  padding-top: 2vh;
  padding-left: 3vw;
  color:black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.ptext-bold{
  padding-left: 40px;
  padding-top: 2vh;
  font-weight: 600;
}
.ptext-indented{
  padding-left: 70px;
}
.ptext-indented-bold{
  padding-left: 40px;
  font-weight: 600;
  padding-top: 2vh;
}
.ptext-indented2{
  padding-left: 4vh;
}
.pcite,
.pcite-main{
  padding-left: 40px;
  padding-bottom: 0.5vh;
}

.quote{
  padding-left: 70px;
}
.pcite:hover > a > span,
.section-title:hover > span,
.plussign:hover, 
.ppage:hover > a > span,
.ptext > a:hover,
.pcite> a:hover,
.pcite-main>a:hover,
.ppub> .title-symbol:hover {
  color:#F07167;
}

.ptext> a,
.pcite> a{
  text-decoration: underline;
}


.right{
  text-align: right;
  padding-bottom: 1vh;
}

/* Collapsibles */
input[type="checkbox"] {
  display: none;
}
.outer-container {
  font-weight: 500;
  display: grid;
  width: 100%;
  overflow: visible;
}

.container-content{
  overflow: auto;
  display: none;
}

#ct-og1:checked ~*.container-content{
  display:contents;
}

/* Sidenotes */
.endnote-main {
  font-size: 100%;
  padding-top: 0vh;
  padding-bottom: 0vh;
}
body {
  counter-reset: sidenote-counter;
}
.sidenote-number {
  counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
  content: counter(sidenote-counter)". ";
  position: relative;
  vertical-align: baseline;
  font-size: 80%;
  font-weight: 600;
}
/* Counter in the main body. */
.sidenote-number::after {
  content: counter(sidenote-counter);
  vertical-align: super;
  font-size: 60%;
}

.sidenote-number:hover, 
.sidenote-number:hover > small, 
.sidenote-main:hover {
  color:#F07167;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Read Bar */
#read-bar {
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  bottom: 99vh;
  width: 100vw;
  height: 1vh;
  background-color: #f3eee5;
}
#read-bar-fill {
  height: 100%;
  width: 0;
  background-color: black;
}

/* images */

.intext-figure-container {
  margin: 0;
  padding: 0;
}

.intext-figure {
  position: relative;
  height: 90vh;
  background-attachment: fixed;
  background-position: bottom 10vh left 10vw;
  background-size:50vh;
  background-repeat: no-repeat;
}

.back-button{
  color: black;
  padding-bottom: 2vh;
  text-decoration: none;
  font-size: 200%;
  font-weight: bold;
}

.mytextdiv{
  padding-left: 0px;
  display:flex;
  flex-direction:row;
  align-items: center;
}
.mytexttitle{
  flex-grow:0;
}

.divider{
  flex-grow:1;
  height: 3px;
  background-color: black;
}

.footer-container{
  padding-top: 5vh;
}

.footer-text{
  color: #F07167;
  text-align: left;
  padding-left:40px;
  font-size:70%;
  font-family:'Inter', Arial, Helvetica, sans-serif;
}



html:has(.courses:hover) .courses > a{
  color:#BC412B
}


html:has(.outputs:hover) .outputs{
  color:#BC412B;
}

html:has(.projects:hover) .projects{
  color:#BC412B
}

.hidden-image-container {
  margin-top: -100px;
  height: auto;
  width: 30vw;
  display: none;
  padding-left: 47vw;
  z-index: -1;
}


.pcite-main:hover +.hidden-image-container {
  display: block;
  position: absolute;
}

.hidden-image {
  max-width: 30vw;
  padding-bottom:0%;
  max-height: 40vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

figcaption {
  font-size: 70%;
  width: 15vw;
}

.expand {
  font-weight: bolder;
  color: #F07167;
}